.team-card .img {
  height: 380px;
  width: 340px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-position: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

.team-card .img:hover {
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
}

@media (max-width: 1200px) {
  .team-card .img {
    height: 340px;
    width: 300px;
  }
}

.team-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.team-info {
  margin-top: 10px;
}

.team-info h3 {
  color: #0e2258;
  font-size: 22px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.team-info:hover h3 {
color: #f35a38;
}

.team-info h5 {
  color: #666 !important;
  font-size: 15px;
}

.social {
  list-style: none;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: #0e2258;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  right: 0;

  box-shadow: 0 0 10px #cccccc;
}

.social li.active,
.social li:hover {
  background-color: #f35a38;
  color: white;
}

.social li {
  margin: 10px 0;
  background-color: #eee;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 5px 10px;
  /*font-size: 20px;
  */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .social {
    bottom: 0;
    flex-flow: row;
    right: 50%;
    -webkit-transform: translate(50%, -100%);
    -moz-transform: translate(50%, -100%);
    -ms-transform: translate(50%, -100%);
    -o-transform: translate(50%, -100%);
    transform: translate(50%, -100%);
  }
  .social li {
    margin: 5px 10px;
  }

  .team-info {
    margin-top: 50px;
  }
}
